<link rel="stylesheet" href="/css/includes/footer.css">
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <h5 onclick="window.location.href='https://www.linkedin.com/in/sameer-goutam06'"><i class="ri-linkedin-box-fill"></i></h5>
            <h5 onclick="window.location.href='https://github.com/Sameer-Goutam06'"><i class="fa-brands fa-github"></i></h5>
            <h5 onclick="window.location.href='https://github.com/Sameer-Goutam06/WanderLust-Travel-Booking-Website'"><i class="ri-code-box-fill"></i></h5>
        </div>
        <div class="brand">
            <h6>&copy; WanderLust Private Limited</h6>
        </div>
        <div class="brand">
            <h6>Crafted By: <a href="https://www.linkedin.com/in/sameer-goutam06" style="text-decoration: none;">Sameer Goutam Ravilla</a></h6>
        </div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>