<% layout('layouts/boilerplate') %>
<head>
    <title>Error</title>
</head>
<link rel="stylesheet" href="/css/listings/error.css">
<body>
    <div class="container">
        <h1 class="error-status"><%= error.status %> - <%= error.message %></h1>
        <div class="error-details">
            <p>Sorry, something went wrong.</p>
            <br>
            <p><%= error.message %></p>
        </div>
    </div>
</body>