<% layout('layouts/boilerplate') %>
<head>
    <title>Error <%= error.status %></title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="container">
        <h1 class="error-status">Error <%= error.status %></h1>
        <h2 class="error-message"><%= error.message %></h2><br>
        <div class="error-details">
            <p>Something went wrong while processing your request.</p>
            <p>check your Input values to avoid errors</p>
        </div>
    </div>
</body>
