.list
{
    height:fit-content;
    font-size: 2rem;
    padding: 1rem 1.75rem;
}

.create
{
    margin:0rem 1.75rem;
    border: none;
    background-color: rgb(29, 28, 28);
    color: white;
    height:fit-content;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.card {
    width: 23%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    gap: 1rem;
    padding: 0;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
}

.card-body {
    height: fit-content;
    padding:0.5rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
    color: #333;
    display: flex;
    justify-content: flex-start;
}
