.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0;
}

.destination-header {
    text-align: center;
}

.destination-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

.destination-details {
    list-style-type: none;
    padding: 0;
}

.destination-details li {
    margin-bottom: 10px;
    font-size: 18px;
}

.buttons {
    display: flex;
    justify-content:flex-start;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    margin-right: 25px;
}

.edit {
    background-color: rgb(29, 28, 28);
}

.delete {
    background-color: rgb(252, 37, 37);
}

.user-review {
    margin-top: 20px;
}

.form {
    padding-top: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top:2px solid rgb(61, 60, 60);
}

.user-rating, .user-review {
    display: flex;
    flex-direction: column;
}

.user-rating {
    width: 10rem;
}

.user-rating label, .user-review label {
    font-size: 18px;
    margin-bottom: 5px;
}

.user-rating input, .user-review textarea {
    font-size: 16px;
    padding: 5px;
}

.submit-review {
    background-color: rgb(29, 28, 28);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
}

.reviews-container {
    margin-top: 20px;
}

.review {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.review-heading
{
    font-weight: 400; 
    font-family:Montserrat;
}

.review p {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .form {
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
    }

    .user-rating, .user-review {
        flex: 1;
    }

    .user-rating {
        margin-right: 20px;
        width: 10rem;
    }

    .user-review textarea {
        width: 80%;
        border-radius: 15px;
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .user-review {
        margin-top: 20px;
    }

    .form {
        flex-direction: column;
        gap: 10px;
    }

    .user-rating, .user-review {
        flex: 1;
    }

    .user-rating label, .user-review label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .user-review textarea {
        width: 100%;
        border-radius: 10px;
        padding: 20px;
    }

    .user-rating input, .user-review textarea {
        font-size: 14px;
        padding: 5px;
    }

    .submit-review {
        align-self: center;
    }
}
