/* Search Form Styles */
.nav-search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.nav-search-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.nav-search-form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

@media (max-width:950px) {
    .nav-search-form
    {
        display: none;
    }
}

.nav-item
{
    padding-top: 10px;
}